Package: com.libretro.pocketcdg
Name: PocketCDG
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro core of PocketCDG
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
